.Rproj.user
.Rhistory
.RData
.Ruserdata
Drafts/
meeting_notes
kaiju/all_shortreads/pre-processed/output/
FigsTables/16S.sex.tiff
FigsTables/Figs.pptx
FigsTables/cazy.heatmaps.tiff
FigsTables/delta.curves.tiff
FigsTables/delta.metrics.tiff
FigsTables/delta.sep.inu.sal.tiff
FigsTables/metabolites.tiff
FigsTables/individual_delta_curves
FigsTables/labeled/FigS5.tiff
FigsTables/labeled/FigS9.tiff
fariba_fortran/
CSV/
KEGG/
Unused/
Analysis_Notes.docx