.Rproj.user
.Rhistory
.RData
.Ruserdata
Drafts/
meeting_notes
kaiju/all_shortreads/pre-processed/output/
FigsTables/16S.sex.tiff
FigsTables/Figs.pptx
FigsTables/cazy.heatmaps.tiff
FigsTables/delta.ucrves.tiff
FigsTables/delta.metrics.tiff
FigsTables/delta.sep.inu.sal.tiff
FigsTables/metabolites.tiff